
@{
    ViewBag.Title = "Add";
}

<html>
<head>
    <style>
    fieldset {
    padding: 1em;
    font:100%/1 Arial;
    /*border:2px solid green;*/
    border:2px solid grey;
    }
    </style>

</head>



<body>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-7">
        
        </div>
    </div>

    <form class="form-horizontal" style="background-color:lightgray">
     
        <div class="row">
                <div class="col-md-5 col-md-offset-0">
                    <fieldset>
                        <legend>
                                <a href="#" class="btn btn-primary btn-lg btn-block" style="background-color:#010431;">Search</a>     
                        </legend>
                        <div class="form-inline form-group">
                            <div class="col-md-8 col-md-offset-0">
                                <label for="label" class="col-sm-1 col-sm-offset-0 control-label">Type</label>
                                <div class="col-md-12 col-md-offset-2">
                                    <select class="form-inline form-control" style="width:66%">
                                        <option class="Company Name">Company Name</option>
                                        <option class="Business Sector">Business Sector</option>
                                        <option class="Country">Country</option>
                                    </select>&nbsp;<button type="submit" class="btn btn-default">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-md-8 col-md-offset-0">
                                <label for="label" class="col-sm-1 col-sm-offset-0 control-label">Name</label>
                                <div class="col-md-12 col-md-offset-2">
                                    <input type="text" class="form-control" id="enterSearch">
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="container">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="well" style="height:400px">
                                    <table class="table">
                                        &nbsp;
                                        &nbsp;
                                        <tbody>

                                            <tr>
                                                <td>ANGLO AMERICAN AGGREGATES(HUZHOU) LTD</td>
                                            </tr>
                                            <tr>
                                                <td>ANGLO AMERICAN NORTE SA</td>
                                            </tr>
                                            <tr>
                                                <td>ANGLO AMERICAN PLC</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="form-inline form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button class="btn btn-default" type="button" id="Delete" style="width:100px; height:34px;" onclick="location.href='@Url.Action("Add","Function")'">Add</button>
                                <button class="btn btn-default" type="button" id="Delete" style="width:100px; height:34px;" onclick="location.href='@Url.Action("Add","Function")'">Change</button>
                                <button class="btn btn-default" type="button" id="Delete" style="width:100px; height:34px;" onclick="location.href='@Url.Action("Add","Function")'">Delete</button>
                            </div>

                        </div>
                    </fieldset>
            </div>

                <div class="col-md-7">
                    <fieldset>
                        <legend>
                            <a href="#" class="btn btn-primary btn-lg btn-block" style="background-color:#010431;">Company Name</a>
                        </legend>

                        <div class="container">
                            <div class="form-group">
                                <div class="row">
                                    <label for="Exchange" class="col-md-3 control-label">Exchange</label>

                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="ExchangeCode" placeholder="JSE">
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" id="ExchangeName" placeholder="JSE JSE STOCK EXCHANGE" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label for="Company Name" class="col-md-3 control-label">Company Name</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="ExchangeCode">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="ShortCode" class="col-md-3 control-label">Short Code (Ordinary)</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="ExchangeCode" placeholder="BAW">
                                    </div>
                                    <label for="CompType" class="col-md-3 control-label">Company Type</label>
                                    <div class="col-md-4">
                                        <select class="form-control" style="width:80%">
                                            <option class="Listed">Listed</option>
                                            <option class="Delisted">Delisted</option>
                                            <option class="Private">Private</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="Country" class="col-md-3 control-label">Country</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="Country">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="BusinessSector" class="col-md-3 control-label">Business Sector</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="BusinessSector">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br /><br /> <br /><br /><br /><br />  <br /><br /><br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />                 
                        <div class="form-inline form-group">
                            <div class="col-lg-10 col-lg-offset-3">
                                <button class="btn btn-default" type="button" id="Update" style="width:100px; height:34px;" onclick="location.href='@Url.Action("Add","Function")'">Update</button>
                                <button class="btn btn-default" type="button" id="Exit" style="width:100px; height:34px;" onClick="alert('Are you sure you want to exit?');location.href='@Url.Action("Login","Home")'">Exit</button>
                                <button class="btn btn-default" type="button" id="Print" style="width:100px; height:34px;" onclick="window.print();">Print Screen</button>
                            </div>

                        </div>
                    </fieldset>
                </div>
     
       </div>


</form>
</body>
</html>
